@import './fonts';
@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-style);
  font-weight: var(--font-weight-600);
  background: var(--grey-bg);
}

.Toastify__toast {
  padding: 0.8rem !important;
  border-radius: var(--radius-10) !important;
  font-family: var(--font-style) !important;
}
.Toastify__toast-icon {
  margin-inline-end: 30px !important;
  width: 2.5rem !important;
}
