:root {
  /* colors */
  --black: #000; /* sdsad */
  --grey-toggle: #d9d9d9; /* Серый цвет для переключателей */
  --grey-bg: #f0f0f0; /* Светло-серый фон */
  --white: #fff; /* Белый цвет */
  --bg-form: #fffcfc; /* Цвет фона формы */
  --grey-input: rgb(232 231 231 / 57%); /* Полупрозрачный серый для ввода */
  --green: rgb(0 219 150 / 28%); /* Полупрозрачный зеленый */
  --red-error: #d30000; /* Красный цвет для ошибок */
  --grey-continue: rgb(
    44 62 56 / 28%
  ); /* Полупрозрачный серый для продолжения */

  /* radius */
  --radius-8: 8px;
  --radius-32: 32px;

  /* shadow */
  --shadow-green-button: 0 0 10px rgb(44 154 88 / 76.2%); /* Используйте rgba вместо rgb с alpha */
}
