:root {
  /* colors */
  --black: #000;
  --grey-toggle: #d9d9d9;
  --grey-bg: #f0f0f0;
  --white: #fff;
  --bg-form: #fffcfc;
  --grey: #0000004d;
  --grey-input: #e8e7e791;
  --green: #00db9647;
  --green-hover: #00db9673;
  --grey-stop: #2c3e3847;
  --rose-invalid: #daa4a491;
  --rose-words: #d30000;

  /* radius */
  --radius-8: 8px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-0: 0px;
  --radius-10: 10px;

  /* shadow */
  --shadow-green-button: 0 0 10px #2c9a58c2;
  --shadow-form: 0 0.25rem 0.25rem 0 #0000001a;
}
