:root {
  /* colors */
  --black: #000; /* Черный цвет */
  --grey-toggle: #d9d9d9; /* Серый цвет для переключателей */
  --grey-bg: #f0f0f0; /* Светло-серый фон */
  --white: #fff; /* Белый цвет */
  --bg-form: #fffcfc; /* Цвет фона формы */
  --grey-input: rgb(232 231 231 / 57%); /* Полупрозрачный серый для ввода */
  --green: rgb(0 219 150 / 28%); /* Полупрозрачный зеленый */
  --green-hover: rgb(0 219 150 / 45%); /* Полупрозрачный зеленый hover */
  --grey-stop: rgb(44 62 56 / 28%); /* Полупрозрачный серый форма */
  --rose-invalid: rgb(218 164 164 / 57%); /* Розовый цвет неправильная форма */

  /* radius */
  --radius-8: 8px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-0: 0px;

  /* shadow */
  --shadow-green-button: 0 0 10px rgb(44 154 88 / 76.2%); /* Используйте rgba вместо rgb с alpha */
}
